html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
}

.menu {
  width: 250px;
  background-color: #f2f2f2;
}

.contener {
  flex: 1;
  background-color: #e6e6e6;
}
